
.wrapper-dashburd2 {
    padding-top: 3%;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-left: 8%;
    height: auto;
}

.wrapper-dashburd2 .wrapper-side-right2 {
    padding-left: 40px;
}

.wrapper-dashburd2 .wrapper-side-right2 .wrapper-side-right12 {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 30px;
    background-image: linear-gradient(to top, #ffff 75%, #ffbc00);
}

.wrapper-dashburd2 .wrapper-side-right2 .wrapper-side-right12 .wrap-ajukan2 {
    padding-left: 20px;
    padding-top: 20px;
}

.wrapper-dashburd2 .wrapper-side-right2 .wrapper-side-right12 .wrap-ajukan2 .wrapper-next-admin {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.style-over {
    overflow: scroll !important;
    height: 300px;
}

.style-table:hover {
    background-color: #707070;
    cursor: pointer;
}

.style-table-active {
    background-color: #707070 !important;
    cursor: pointer;
}