.Head-Dialog {
    background-color: #ffcc00;
    height: 40px;
    border-radius: 10px 10px 0px 0px;
}

.left-dialog {
    background-color: #ffcc00;
}

.right-dialog {
    background-color: #ffcc00;
}

.foot-dialog {
    background-color: #ffcc00;
    height: 40px;
    border-radius: 0px 0px 10px 10px;
}

.title-alert-maaf{
    padding-top: 20px;
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
}

.button-confirm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.btn-ok-confirm {
    width: 200px;
    background-color: #ffcc00 !important;
    border: none !important;
    cursor: pointer !important;
}

.btn-ok-confirm:hover {
    width: 200px;
    background-color: #e8bb06 !important;
    border: none !important;
    cursor: pointer !important;
}