@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@400;700;800&family=Roboto&display=swap');

.wrapper-homeinfo {
    padding-top: 20px;
    padding-left: 185px;
    padding-right: 185px;
    /* background-color: #545045; */
    /* margin-bottom: 10px; */
    height:auto;
}

.wrapper-homeinfo .title-info{
    font-size: 40px;
    color: #ffbc00;
    font-family: 'Nunito Sans', sans-serif;
}

.accor-info {
    margin-top: 20px;
}

.bottom-info {
    height: 50px;
}