#navbar {
    width: 100%;
    display: flex;   
    padding: 0;  
    background-color: #ffffff    ;
    flex-basis: 50%;
    height: 80px;   
}

.logo-white {
    width: 100%;
    margin-left: 2%;
    font-weight: bold; 
    text-decoration: none;
    font-size: 24px; 
    color: white;
    line-height: 33px   
}

.menu {
    width: 100%;
    padding-right:  2%;
    display: flex;
    justify-content: flex-end;
    font-size: 20px; 
    padding-top: 0px;
}

#basic-nav-dropdown {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thumbnail-image {
    width: 50px;
    height: 50px;
}



