.wrapper-side-right {
    padding-left: 40px;
}

.wrapper-dashburd {
    padding-top: 3%;
    padding-right: 4%;
    padding-bottom: 3%;
    padding-left: 8%;
    height: auto;
}

.wrapper-dashburd .wrapper-side-right {
    padding-left: 40px;

}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 30px;
    /* height: 500px; */
    background-image: linear-gradient(to top, #ffff 75%, #ffbc00);
    padding-bottom: 25px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan {
    padding-left: 20px;
    padding-top: 20px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .detail-debitur{
    padding-top: 25px;
    line-height: 10px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .unduh-style {
    padding-top: 20px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .unduh-style a {
    text-decoration: none;
    font-style: italic;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .unduh-style a:hover {
    text-decoration: none;
    font-style: italic;
    color: chocolate;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .detail-debitur .titikdua {
    width: 10px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .radio {
    display: flex;
    font-size: 13px;
    padding-left: 25px;
}



