@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@400;700;800&family=Roboto&display=swap');

.adjust-height {
    height: 660px;
}

.product-style2 {
    padding-top: 3%;
}

.product-style2 .product-list2 h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 45px;
    line-height: 0;
    text-align: center;
    color: #000000;
    background-color: #fafbfc;
}

.list-style2 {
    padding-left: 10%;
    padding-right: 10%;
    /* margin-top: 7%; */
    padding-bottom: 5%;
    padding-top: 5%;
}

.list-style2 .wrapper-box-detail-home2 {
    padding-left: 35px;
    padding-right: 35px;   
    height: 400px;
    margin-bottom: 35px;
}

.list-style2 .wrapper-box-detail-home2 .wrapper-box-list-home2 {
    height: 400px;
    background-color: #ffffff;
    /* background-color: #f7c707; */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.list-style2 .wrapper-box-detail-home2 .wrapper-box-list-home2 .img-classhome {
    height: 180px;
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.list-style2 .wrapper-box-detail-home2 .wrapper-box-list-home2 .title-class2 {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.title-class2 h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 25px;
}

.title-class2 p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
}

.view-detail {
    font-family: 'Nunito Sans', sans-serif;
    color: #e39906;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.view-detail:hover {
    font-family: 'Nunito Sans', sans-serif;
    color: #8a5f08;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}
