.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .segipanjang {
    width: 90px;
    height: 15px;
    background: #fcb900;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -20px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .segipanjang-grey {
    width: 90px;
    height: 15px;
    background: grey;
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -20px;
}

.garis-grey {
    width: 50px;
    height: 10px;
    background: #b3b3b3;
}

.garis-orange {
    width: 50px;
    height: 10px;
    background: #fcb900;
}