
.btn-custom {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #daaf05 !important;
    border:none;
    color: #5b574d;
    border-radius: 10px !important;
    font-weight: bold !important;
    padding: 15px 0 !important;
}

.btn-custom:hover {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #daaf05 !important;
    border:none;
    color: #5b574d;
    border-radius: 10px !important;
    font-weight: bold !important;
    padding: 15px 0 !important;
}

.btn-custom:disabled {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    background-color: #daaf05 !important;
    border:none;
    color: #5b574d;
    border-radius: 10px;
    font-weight: bold;
    padding: 15px 0;
    height: 50px;
}