.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .outer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    background-color: #fcb900;
    margin: 10px;
  }

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .outer-grey {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    background-color: gray;
    margin: 10px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .inner {
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #ffffff;
    top: 15%;
    left: 30%;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .step-angka {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-weight: bold;
    padding-left: 13px;
    color: #fcb900;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-ajukan .step-angka-grey {
    /* font-family: 'Nunito Sans', sans-serif; */
    font-weight: bold;
    padding-left: 13px;
    color: grey;
}