.wrapper-dashburd2 .wrapper-side-left {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 20px;
    width: 25%;
}

.wrapper-dashburd2 .wrapper-side-left .wrapper-side-left-menu {
    padding-left: 0px;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.wrapper-dashburd2 .wrapper-side-left .wrapper-side-left-menu .wrap-ico {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.ico {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.nav-style-user {
    width: 260px;
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    margin-left: 10px;
    font-weight: bold;
}

.nav-style-user:hover {
    font-size: 18px;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    margin-left: 10px;
    font-weight: bold;
    background-color: #fcaf22;
    border-radius: 7px;
}

.nav-style-user:active {
    color: #000000;
}

