@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@400;700;800&family=Roboto&display=swap');

.product-style {
    padding-top: 5%;
}

.product-list h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 45px;
    line-height: 0;
    text-align: center;
    color: #000000;
    background-color: #fafbfc;
}

.text-list {
    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-style {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    padding-bottom: 5%;
}

.list-style .wrapper-box-detail-home {
    padding-left: 35px;
    padding-right: 35px;   
    height: 350px;
    margin-bottom: 35px;
}

.list-style .wrapper-box-detail-home .wrapper-box-list-home {
    height: 350px;
    background-color: #ffffff;
    /* background-color: #f7c707; */
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    border-radius: 20px;
}

.list-style .wrapper-box-detail-home .wrapper-box-list-home .img-classhome {
    height: 180px;
    width: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 15px;
    margin-top: 15px;
}

.list-style .wrapper-box-detail-home .wrapper-box-list-home .tittle-class{
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
}