.title-hubungi {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.wrapper-alamat{
    padding-left: 20%;
    padding-right: 20%;
}

.text-alamat p {
    font-family: 'Nunito Sans', sans-serif;
    line-height: 10px;

}

.img-hubungikami2 {
    height: 200px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
    width: 100%;    
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.img-wrap .img-hubungikami {
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 800px;    
}

.wrap-text {
    padding-bottom: 25px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-top: 20px;
}

.wrap-detail-contact {
    padding-left: 20%;
    padding-right: 20%;
}

.wrap-detail-contact .wrap-bg-contact {
    height: auto;
    background-color: #f9f7f5;
}

.wrap-detail-contact .wrap-bg-contact .wrapper-paragraf {
    padding-left: 5%;
    padding-right: 5%;
}

.wrap-detail-contact .wrap-bg-contact a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.wrap-text-contact {
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

.wrap-text-contact2 {
    padding-left: 22%;
    padding-right: 20%;
    text-align: justify;
}

.wrap-text-contact a {
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.wrap-text-contact a:hover {
    color: rgb(50, 49, 49);
    font-weight: 800;
    text-decoration: none;
}