@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Nunito+Sans:wght@400;700;800&family=Roboto&display=swap');

.footer {
    background-color: #ffcc00;
    padding-top: 40px;
    padding-left: 8%;
    padding-bottom: 40px;
    padding-right: 8%;
}

.footer p {
    font-family: 'Nunito Sans', sans-serif;
    color: #000000 !important;
    margin-left: 10px;
    font-weight: bold;
    line-height: 10px;
}

.footer .logoBukopin .wrap-imagelogo{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}

.footer .logoBukopin .wrap-imagehalo{
    display: flex;
    align-items: flex-end;
    justify-content:flex-end;
}

.footer .logoBukopin .logoBlack {
    padding-top: 0px;
    padding-bottom: 20px;
    height: 60px;
    width: 180px;
}

.footer .wrap-connect{
    padding-top: 40px;
}

.style-connect {
    padding-top: 10px;
    text-align: right;
    color: black;
}

.style-iconbrand {
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}

.footer-dark {
    padding-top: 20px;
    background-color: #545045;
    color: #ffbc00;
    display: flex;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.footer .logoBukopin .img-foot {
    width: 300px;
}

.link-footer {
    text-decoration: none;
    color: #000000;
    font-family: 'Nunito Sans', sans-serif;
}

.link-footer:hover {
    text-decoration: none;
    color: #a97e08;
    font-family: 'Nunito Sans', sans-serif;
}

.wrap-connect a {
    color: black;
}

.wrap-connect a:hover {
    color: black;
}