#bg-dashburd {
    background-color: #f9f7f5;
}

.wrapper-dashburd {
    padding-top: 3%;
    padding-right: 6%;
    padding-bottom: 3%;
    padding-left: 8%;
    height: auto;
}

.title-dashburd {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.wrapper-side-right {
    padding-left: 40px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 30px;
    /* height: 700px; */
    background-image: linear-gradient(to top, #ffff 75%, #ffbc00);
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right2 {
    box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
    border-radius: 30px;
    height: 100px;
    margin-top: 20px;
    padding-top: 25px;
    padding-left: 30px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-dash-user {
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 20px;
    padding-top: 20px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-dash-user2 {
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 30px;
}

.wrapper-dashburd .wrapper-side-right .wrapper-side-right1 .wrap-dash-user2 .image-dash-user {
    width: 230px;
    height: 150px;
    padding-top: 20px;
    border-radius: 20px 20px 10px 10px;
}

.title-status h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    text-align: center;
}

.title-head h5 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
}

.text-right2 {
    line-height: 15px;
}

.titikdua {
    text-align: center;
}


